{% extends "base.html" %}
{% load static %}


{% block title %}Home{% endblock title %}

{% block body %}
  <h2>My Blog</h2>

  {% if posts %}
    {% for post in posts %}
      <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container w3-padding-16">
          <a href="{% url 'post' post.id %}">
            <h3>{{ forloop.counter }}) - {{ post.title }}</h3>
          </a>
          <h5>By {{ post.author }}</h5>
          <p>Posted on {{ post.date }}</p>
          <p>Likes: {{ post.likes }}</p>
        </div>
        <div class="w3-container w3-padding">
          <p>{{ post.content }}</p>
        </div>  
      </div>
    {% endfor %}
  {% else %}
    <h3>No Posts Available</h3>
  {% endif %}
{% endblock body %}
